@model FoldersModel
@{
    ViewData["Title"] = Model.Name;
}


<div class="text-center">
    
    <h1>"Folder" - @Model.Name</h1>
    <h2>@Html.ActionLink("Back to Parent Folders", "Index", "Home", new { id = 0})</h2>
    <ul>
        <li>@Html.ActionLink("Root Folder", "Index", "Home", new { id = 1})</li>
        <br />
        @if(Model.ParentFolderId != 0)
        {
            <li>@Html.ActionLink("...", "Index", "Home", new { id = Model.ParentFolderId})</li>
        }
        @foreach (var folder in Model.Folders)
        {
            <li>@Html.ActionLink(folder.Name, "Index", "Home", new { id = folder.Id})</li>
        }
    </ul>
    
</div>
